# DynamoDB Local
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=ap-northeast-1
TABLE_NAME=TodoTable

# Dummy AWS credentials for DynamoDB Local
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy

# WSL2 で hot-reload が動かない場合に有効化
# VITE_USE_POLLING=true
